/* Home.css */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.custom-card {
    width: 100%; /* Define a largura do cartão */
    max-width: 400px;
    margin: 1rem; /* Define a largura máxima do cartão para evitar que fique muito grande em telas grandes */
    /* Centraliza o cartão horizontalmente */
}

.custom-card img {
    width: 100%; /* Define a largura da imagem como 100% para que se ajuste ao cartão */
    max-height: 250px; /* Define a altura máxima da imagem para evitar que ela fique muito alta */
    object-fit: cover; /* Redimensiona a imagem para preencher o espaço do contêiner sem distorção */
}
.toolbar-container {
    padding: 0.5rem 1rem;
}
